<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8" />
  <title>Lint Summary</title>
  <meta name="author" content="cycletest, zc" />
  <meta name="copyright" content="" />

  <style>
    *{
      color: black
    }
    table {
      border-collapse: collapse;
    }
    table th,
    table td {
      border: solid 1px black;
    }
    table th {
      border-top: solid 2px black;
      border-bottom: solid 2px black;
      padding-left: 10px;
      padding-right: 10px;
    }
    th {
      font-weight:bold;
    }
    tr.error *{
      color: red;
    }
    tr.warning *{
      color:orange;
    }
    tr.success *{
      color:green;
    }
  </style>
 
</head>
<body>
<h3>JavaScript Lint Detail</h3>
<h4>File : <span id="fileWithPath" style="color:green"></span></h4>
<br>
<table>
  <thead>
    <tr>
      <th>Error Code</th>
      <th>Line</th>
      <th>Character</th>
      <th>Reason</th>
    </tr>
    <tbody id="detailBody">
      
    </tbody>
  </thead>
</table>
<script type="text/javascript">
    window.onload = function(){
      var rgE = /^E\d*$/;
      function getClass(item){
        if (rgE.test(item.code)){
          return "error";
        }
        return "warning";
      }
      var tbody = document.getElementById('detailBody');
      var newtext =function(text) {
        return document.createTextNode(text);
      };
      var newEl = function(tag) {
        return document.createElement(tag);
      };
      Element.prototype.appendBack = function(cl){
        this.appendChild(cl);
        return this;
      };
      function putData (data) {
        data.forEach(function(err){
          var d = err.error;         
          var tr = newEl("tr").appendBack(newEl("td").appendBack(newtext(d.code))).appendBack(newEl("td").appendBack(newtext(d.line))).appendBack(newEl("td").appendBack(newtext(d.character))).appendBack(newEl("td").appendBack(newtext(d.reason)));
          tr.className = getClass(d);
          tbody.appendChild(tr);
        });
      }
      document.getElementById("fileWithPath").appendChild(newtext(detail.file));
      putData(detail.errors);

    };
    var detail = 